{% extends 'base.twig' %}

{% block content %}
    <section>
        <h2>{{ title }}</h2>

        {% if posts %}
            {% for post in posts %}
                <article>
                    <header>
                        <h2><a href="{{ post.permalink }}" title="Permalink to {{ post.title }}" rel="bookmark">{{ post.title }}</a></h2>
                        <p>
                            By <a href="{{ post.author.path }}" title="See all of {{ post.author.name }} posts">{{ post.author.name }}</a> on <time datetime="<?php the_time( 'Y-m-d' ); ?>" pubdate>{{ post.post_date|date('Y-m-d') }}</time>
                        </p>
                    </header>
                    {{ post.content }}
                </article>
            {% endfor %}
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </section>
{% endblock %}
