{% extends 'base.twig' %}

{% block content %}
    <section>
        <article class="post">
            <header class="post-header">
                {% if post.get_thumbnail %}
                    <img alt="{{ post.title }}" src="{{ post.get_thumbnail.get_src|resize(600, 400) }}" />
                {% endif %}
                <h1>{{ post.title }}</h1>
                <div class="author">
                    <img alt="{{ post.author.name }}" src="{{ post.author.avatar }}" />
                    <h3 class="author-title">By <a href="{{ post.author.path }}" title="See all of {{ post.author.name }}'s posts">{{ post.author.name }}</a> on <time datetime="{{ post.post_date|date('Y-m-d') }}">{{ post.post_date|date }}</time></h3>
                </div>
            </header>

            <section class="post-content">
                {{ post.post_content|wpautop }}
            </section>

            {% include 'partials/tag-list.twig' with { tags:post.terms('tags') } %}

            {% include 'partials/comments-container.twig' with { post:post } %}
        </article>
    </section>
{% endblock %}
